// ========================================
// DBC CSS

// ========================================
// Import Mixins and Partials
@import "modules/config";
@import "modules/home";

// ========================================
// 3 Col Layout full height
// http://www.bootply.com/126437
html,body {
  height:100%;
}
.row-flex, .row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}
.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex:0;
}
.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
 margin:-.2px; /* hack adjust for wrapping */
}
.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
  width:100%;
}
.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}
.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
}

// ========================================
// DBC BODY
// ========================================
#company-support-portal {
// ========================================

  // ========================================
  // HEADER WRAPPER
  #header-wrapper {
    // new red
    background: #c00;
    #site-nav {
      padding-top: 30px;
      color: $graypale;
      font-family: "myriad-pro-1","myriad-pro-2", "Hevetica Neue", Arial, sans-serif;
      font-weight: 400;
      #balsamiq-logo {
        @include fontsize(21,21);
        .trademark {
          @include fontsize(10,10);
        }
      }
      #site-id {
        @include fontsize(21,21);
      }
      color: $white;
      a {
        color: $white;
      }
    }
    #search #s {
      width: 145px;
    }
  }

  // ========================================
  // BODY WRAPPER
  #body-wrapper {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  // ========================================
  // BODY NAV
  #body-header {
    width: 100%;
    border-top: 1px solid #e5e5e5 !important;
    z-index: 1000;
    font-size: 12px;
    #title-wrapper {
      background-color: #fff;
      margin: 0 auto;
    }
    ul.lnav  {
      padding: 12px 0;
      > li > a {
       &:link, &:visited {
          color: $graydark;
       }
      }
      > li > ul li a {
        text-shadow: none !important;
      }
    }
    .navsect {
      opacity: 0;
      width: 0;
      @include transition(2s);
      a {
        display: none;
        color: $red !important;
        font-weight: bold;
        padding-right: 1em;
        border-right: 1px solid $gray;
      }
    }
    // BOOTSTRAP
    .dropdown-menu::before {
      position: absolute;
      top: -7px;
      left: 9px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #CCC;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }
    .dropdown-menu::after {
      position: absolute;
      top: -6px;
      left: 10px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white;
      border-left: 6px solid transparent;
      content: '';
    }
  }

  // ========================================
  // BODY MAIN
  #body-main {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;
  }

  // ========================================
  // DBC SIDE COLUMN
  .local-nav {
    background: #fff;
    border: none;
    padding-top: 31px;
    @include fontsize(14,16);
    &.local-nav-1 {
      background: $graylight;
    }
    h3, h4, h5 {
      margin: 10px 0 10px 0;
      padding: 0;
      @include fontsize(18,16);
      font-family: "myriad-pro-1","myriad-pro-2", "Hevetica Neue", Arial, sans-serif;
      color: $grayverydark;
      a {
        color: $grayverydark;
      }
    }
    button, a.button {
      max-width: 180px;
    }
    i {
      margin-top: 2px;
      cursor:pointer;
      color: $graydark !important;
    }
    // Nav TOC
    ul {
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;
      li {
        margin: 0;
        padding: 0;
        line-height: 16px;
        // border-top: 1px solid $white;
        a {
          display: block;
          padding: 8px 0;
        }
        &.selected a {
          color: $grayverydark;
          font-weight: bold;
        }
      }
      & > .active,
      & > .active:hover  {
        background: $blue !important;
      }
      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus {
        color: #fff;
        background-color: $blue !important;
      }
    }
  // ========================================
  }
  // END DBC SIDE COLUMN
  // ========================================

  // ========================================
  // DBC Main Column
  #support-main {
    // ========================================
    .support-body {
      background: $white;
    }
    h1 {
      margin-top: 36px;
      margin-bottom: .5em;
      padding-bottom: .5em;
      border-bottom: 1px solid $gray;
      @include fontsize (36, 36);
      font-weight: normal;
      color: $grayverydark;
    }
    h2, h3, h4, h5, h6 {
      color: $grayverydark;
    }
    h3, h4 {
      @include fontsize (28, 32);
    }
    h5 {
      @include fontsize (20, 20);
    }
    // images in articles
    img {
      max-width: 100%;
    }
    #page-topic ul li {
      margin-bottom: 1em;
    }

    #support-main a, .local-nav a {
      color: #0064AE;
    }
    a.fb img,
    #support-main img {
      margin-bottom: 12px;
    }
    #support-main object,
    #support-main iframe {
      margin-bottom: 12px;
    }

    // ARTICLES
    /* image alignment in articles */
    #page-article {
      .content.article {
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          max-width: 100%;
        }
        .imgleft img,
        img.imgleft {
          margin-left: 0;
          margin-right: 0;
          text-align: left;
          max-width: 100%;
        }
      }
    }

  // ========================================
  }
  // END Support Main Column
  // ========================================

  // Tags Listing
  ul.tags {
    text-align: left;
    -webkit-column-count:3;
    -moz-column-count:3;
    -ms-column-count:3;
    -o-column-count:3;
    column-count:3;
    -webkit-column-gap:15px;
    -moz-column-gap:15px;
    -ms-column-gap:15px;
    -o-column-gap:15px;
    column-gap:15px;
    columns:3;
    > li {
     font-size: 16px;
     color: #999;
     margin: 0 5px 5px 0;
     display: inline-block;
     width: 100%;
     float: none;
   }
    > li:first-child {
     display: none;
   }
  }

// ========================================
}
// END DBC BODY
// ========================================
