/* Usage
    div {
      width: 95%;
      margin: 2em auto;

      @include breakpoint(sm) {
        width: 80%;
      }
    }
*/
#support-documentation {
  margin-bottom: 10px; }
  #support-documentation a.button {
    display: block;
    padding: 5px;
    margin-bottom: 5px; }
  #support-documentation .prod-core a.button {
    text-align: left; }
    @media only screen and (min-width: 992px) {
      #support-documentation .prod-core a.button {
        min-height: 95px; } }
    @media (mdmin: 0) {
      #support-documentation .prod-core a.button {
        min-height: 95px; } }
    #support-documentation .prod-core a.button img, #support-documentation .prod-core a.button span {
      display: block;
      float: left; }
  #support-documentation .prod-core img {
    width: 20%; }
    @media only screen and (min-width: 768px) {
      #support-documentation .prod-core img {
        width: 40%; } }
    @media (smmin: 0) {
      #support-documentation .prod-core img {
        width: 40%; } }
    @media only screen and (min-width: 992px) {
      #support-documentation .prod-core img {
        width: 33%; } }
    @media (mdmin: 0) {
      #support-documentation .prod-core img {
        width: 33%; } }
  #support-documentation .prod-core span {
    padding-top: 18px;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 18px;
    line-height: 1.8rem;
    width: 78%;
    padding-left: 2%;
    letter-spacing: -.25px; }
    @media only screen and (min-width: 768px) {
      #support-documentation .prod-core span {
        width: 58%; } }
    @media (smmin: 0) {
      #support-documentation .prod-core span {
        width: 58%; } }
    @media only screen and (min-width: 992px) {
      #support-documentation .prod-core span {
        width: 64%;
        font-size: 21px;
        font-size: 2.1rem;
        line-height: 24px;
        line-height: 2.4rem; } }
    @media (mdmin: 0) {
      #support-documentation .prod-core span {
        width: 64%;
        font-size: 21px;
        font-size: 2.1rem;
        line-height: 24px;
        line-height: 2.4rem; } }
  #support-documentation .prod-plugins a.button {
    min-height: 95px;
    width: 95px;
    float: left;
    margin: 0 5px 5px 0; }
    #support-documentation .prod-plugins a.button img {
      display: block;
      margin: 0 auto;
      padding: 6px 0 0 0;
      width: 48px; }
    #support-documentation .prod-plugins a.button span {
      display: block;
      padding: 2px 0 0 0;
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 16px;
      line-height: 1.6rem;
      letter-spacing: -.25px; }

#page-index.container {
  margin-top: 0; }

#page-index h3 {
  font-size: 28px; }
  #page-index h3 .ss-icon {
    color: rgba(118, 2, 9, 0.8);
    font-size: 21px;
    padding-top: 4px;
    margin-right: 12px; }

#page-index hr {
  margin-top: 36px;
  margin-bottom: 36px; }

#page-index .section:before {
  content: "";
  display: block;
  height: 74px;
  margin: -74px 0 0; }

#page-index a.button {
  width: auto;
  display: block;
  text-align: center; }

#support-search-contact.container {
  margin-top: 0; }

#support-contact h4 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 24px;
  line-height: 2.4rem;
  color: #0a0a0a;
  padding: 0 0 6px 0;
  text-align: center; }

#support-contact .inner {
  margin: 0;
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px; }

#support-contact a.button {
  display: block;
  padding: 5px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 14px;
  line-height: 1.4rem; }
  #support-contact a.button#forum-link {
    width: 100%;
    margin: 0; }
  #support-contact a.button#email-link {
    width: 100%;
    margin: 0; }

#support-more-contact {
  font-size: 14px; }
  #support-more-contact .ss-icon {
    color: #0064AE;
    margin-right: 2px; }

#bios #biopic img {
  border: 1px solid #ddd;
  box-shadow: 0px 1px 2px #ddd; }

#bios #biopic p {
  margin: -20px 0 0 0;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  line-height: 1.6rem;
  text-align: center;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.95) 0 1px 3px;
  text-transform: capitalize; }

#bios #biotxt h4 {
  margin: 0;
  padding: 0 0 2px 0;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 18px;
  line-height: 1.8rem;
  text-align: left; }

#bios #biotxt p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 18px;
  line-height: 1.8rem; }

body {
  position: relative; }

html, body {
  height: 100%; }

.row-flex, .row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
      -ms-flex: 0;
          flex: 0; }

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
  margin: -.2px;
  /* hack adjust for wrapping */ }

.container-flex > div[class*='col-'] div, .row-flex > div[class*='col-'] div {
  width: 100%; }

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.flex-grow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 2;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2; }

#company-support-portal #header-wrapper {
  background: #c00; }
  #company-support-portal #header-wrapper #site-nav {
    padding-top: 30px;
    color: #f5f5f5;
    font-family: "myriad-pro-1","myriad-pro-2", "Hevetica Neue", Arial, sans-serif;
    font-weight: 400;
    color: #fff; }
    #company-support-portal #header-wrapper #site-nav #balsamiq-logo {
      font-size: 21px;
      font-size: 2.1rem;
      line-height: 21px;
      line-height: 2.1rem; }
      #company-support-portal #header-wrapper #site-nav #balsamiq-logo .trademark {
        font-size: 10px;
        font-size: 1rem;
        line-height: 10px;
        line-height: 1rem; }
    #company-support-portal #header-wrapper #site-nav #site-id {
      font-size: 21px;
      font-size: 2.1rem;
      line-height: 21px;
      line-height: 2.1rem; }
    #company-support-portal #header-wrapper #site-nav a {
      color: #fff; }
  #company-support-portal #header-wrapper #search #s {
    width: 125px; }

#company-support-portal #body-wrapper {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important; }

#company-support-portal #body-header {
  width: 100%;
  border-top: 1px solid #e5e5e5 !important;
  z-index: 1000;
  font-size: 12px; }
  #company-support-portal #body-header #title-wrapper {
    background-color: #fff;
    margin: 0 auto; }
  #company-support-portal #body-header ul.lnav {
    padding: 12px 0; }
    #company-support-portal #body-header ul.lnav > li > a:link, #company-support-portal #body-header ul.lnav > li > a:visited {
      color: #999; }
    #company-support-portal #body-header ul.lnav > li > ul li a {
      text-shadow: none !important; }
  #company-support-portal #body-header .navsect {
    opacity: 0;
    width: 0; }
    #company-support-portal #body-header .navsect a {
      display: none;
      color: #760209 !important;
      font-weight: bold;
      padding-right: 1em;
      border-right: 1px solid #ddd; }
  #company-support-portal #body-header .dropdown-menu::before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: ''; }
  #company-support-portal #body-header .dropdown-menu::after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: ''; }

#company-support-portal #body-main {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-image: none; }

#company-support-portal .local-nav {
  background: #fff;
  border: none; }
  #company-support-portal .local-nav #sidebar-box {
    padding-top: 31px; }
    #company-support-portal .local-nav #sidebar-box.affix-top, #company-support-portal .local-nav #sidebar-box.affix-bottom {
      position: relative; }
    #company-support-portal .local-nav #sidebar-box.affix {
      padding-top: 0;
      position: fixed;
      top: 0;
      width: auto !important; }
  #company-support-portal .local-nav h3, #company-support-portal .local-nav h4, #company-support-portal .local-nav h5 {
    margin: 10px 0 10px 0;
    padding: 0;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 18px;
    line-height: 1.8rem;
    font-family: "myriad-pro-1","myriad-pro-2", "Hevetica Neue", Arial, sans-serif;
    font-weight: normal;
    color: #555; }
    #company-support-portal .local-nav h3 a, #company-support-portal .local-nav h4 a, #company-support-portal .local-nav h5 a {
      color: #555; }
  #company-support-portal .local-nav button, #company-support-portal .local-nav a.button {
    max-width: 180px; }
  #company-support-portal .local-nav a.menu-toggle {
    text-decoration: none; }
  #company-support-portal .local-nav i {
    margin-top: 2px;
    cursor: pointer;
    color: #999 !important; }
    #company-support-portal .local-nav i.ss-icon {
      font-size: 10px;
      font-size: 1rem;
      line-height: 10px;
      line-height: 1rem; }
  #company-support-portal .local-nav.local-nav-1 {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 16px;
    line-height: 1.6rem; }
  #company-support-portal .local-nav.local-nav-2 {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 15px;
    line-height: 1.5rem; }
  #company-support-portal .local-nav ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none; }
    #company-support-portal .local-nav ul li {
      margin: 0;
      padding: 0;
      line-height: 16px; }
      #company-support-portal .local-nav ul li a {
        display: block;
        padding: 8px 0; }
      #company-support-portal .local-nav ul li.selected a {
        color: #555;
        font-weight: normal; }
    #company-support-portal .local-nav ul > .active,
    #company-support-portal .local-nav ul > .active:hover {
      background: #0064AE !important; }
    #company-support-portal .local-nav ul > .active > a,
    #company-support-portal .local-nav ul > .active > a:hover,
    #company-support-portal .local-nav ul > .active > a:focus {
      color: #fff;
      background-color: #0064AE !important; }
  #company-support-portal .local-nav .collapsing {
    -webkit-transition: all 0.04s ease;
    transition: all 0.04s ease; }

#company-support-portal #support-main {
  /* image alignment in articles */ }
  #company-support-portal #support-main .support-body {
    background: #fff; }
  #company-support-portal #support-main h1 {
    margin-top: 36px;
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 36px;
    line-height: 3.6rem;
    font-weight: normal;
    color: #666; }
  #company-support-portal #support-main h2, #company-support-portal #support-main h3, #company-support-portal #support-main h4, #company-support-portal #support-main h5, #company-support-portal #support-main h6 {
    color: #666; }
  #company-support-portal #support-main h3, #company-support-portal #support-main h4 {
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 32px;
    line-height: 3.2rem; }
  #company-support-portal #support-main h5 {
    font-size: 20px;
    font-size: 2rem;
    line-height: 20px;
    line-height: 2rem; }
  #company-support-portal #support-main img {
    max-width: 100%; }
  #company-support-portal #support-main #page-topic ul li {
    margin-bottom: 1em; }
  #company-support-portal #support-main #support-main a, #company-support-portal #support-main .local-nav a {
    color: #0064AE; }
  #company-support-portal #support-main a.fb img,
  #company-support-portal #support-main #support-main img {
    margin-bottom: 12px; }
  #company-support-portal #support-main #support-main object,
  #company-support-portal #support-main #support-main iframe {
    margin-bottom: 12px; }
  #company-support-portal #support-main #page-article .content.article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100%; }
  #company-support-portal #support-main #page-article .content.article .imgleft img,
  #company-support-portal #support-main #page-article .content.article img.imgleft {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    max-width: 100%; }

#company-support-portal ul.tags {
  text-align: left;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  -ms-column-gap: 15px;
  -o-column-gap: 15px;
  column-gap: 15px;
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3; }
  #company-support-portal ul.tags > li {
    font-size: 16px;
    color: #999;
    margin: 0 5px 5px 0;
    display: inline-block;
    width: 100%;
    float: none; }
  #company-support-portal ul.tags > li:first-child {
    display: none; }
