/* Usage
    div {
      width: 95%;
      margin: 2em auto;

      @include breakpoint(sm) {
        width: 80%;
      }
    }
*/
/*
$black: #0a0a0a;
$graypale: #F0F0F0;
$graylight: #eee;
$gray: #ddd;
$graymed: #bbb;
$graydark: #999;
$grayverydark: #666;
$grayverydark2: #555;
$grayblack: #292E31;
$red: #c00;
$redlight: #A7262E;
$white: #fff;
$blue: #0064AE;
$bluelight: #9ac7e4;
$orange: #e5a110;
// ##THEME COLORS
$bodycolor: $white;
$textcolor: $black;
$linkcolor: $blue;
$linkcolorhover: $orange;
*/
#company-support-portal #body-main.home h2 {
  margin-bottom: 1em;
  color: #c00; }

#company-support-portal #body-main.home .panel-default {
  border-radius: 3px; }

#company-support-portal #body-main.home a.btn {
  text-decoration: none; }

#company-support-portal #body-main.home a.btn-lg {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1em 0.5em;
  /*   margin-bottom: 2em; */
  margin-bottom: 5px;
  text-decoration: none; }
  #company-support-portal #body-main.home a.btn-lg:hover {
    background-color: #ddd;
    border-color: #bbb;
    color: #094E83 !important;
    text-shadow: none !important;
    text-decoration: none; }
  #company-support-portal #body-main.home a.btn-lg.featured {
    background-color: #c00;
    border: 2px solid #a60000;
    color: #fff; }
    #company-support-portal #body-main.home a.btn-lg.featured:hover {
      background-color: #a60000;
      border-color: 7c 0;
      color: #fff !important;
      text-decoration: none; }

#company-support-portal #home-search {
  background: #F0F0F0; }
  #company-support-portal #home-search input#search {
    border: 1px solid #bbb;
    padding-top: 24px;
    padding-bottom: 24px; }
  #company-support-portal #home-search #search {
    border: 2px solid #eee; }
    #company-support-portal #home-search #search:focus {
      border-color: #3975a4; }
  #company-support-portal #home-search p {
    margin-bottom: 2em; }

#company-support-portal #documentation {
  margin-top: 24px; }
  #company-support-portal #documentation a.button {
    display: block;
    padding: 5px;
    margin-bottom: 5px; }
  #company-support-portal #documentation .prod-core a.button {
    text-align: left; }
    @media only screen and (min-width: 992px) {
      #company-support-portal #documentation .prod-core a.button {
        min-height: 95px; } }
    @media (mdmin: 0) {
      #company-support-portal #documentation .prod-core a.button {
        min-height: 95px; } }
    #company-support-portal #documentation .prod-core a.button img, #company-support-portal #documentation .prod-core a.button span {
      display: block;
      float: left; }
  #company-support-portal #documentation .prod-core img {
    width: 20%; }
    @media only screen and (min-width: 768px) {
      #company-support-portal #documentation .prod-core img {
        width: 40%; } }
    @media (smmin: 0) {
      #company-support-portal #documentation .prod-core img {
        width: 40%; } }
    @media only screen and (min-width: 992px) {
      #company-support-portal #documentation .prod-core img {
        width: 33%; } }
    @media (mdmin: 0) {
      #company-support-portal #documentation .prod-core img {
        width: 33%; } }
  #company-support-portal #documentation .prod-core span {
    padding-top: 18px;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 18px;
    line-height: 1.8rem;
    width: 78%;
    padding-left: 2%;
    letter-spacing: -.25px; }
    @media only screen and (min-width: 768px) {
      #company-support-portal #documentation .prod-core span {
        width: 58%; } }
    @media (smmin: 0) {
      #company-support-portal #documentation .prod-core span {
        width: 58%; } }
    @media only screen and (min-width: 992px) {
      #company-support-portal #documentation .prod-core span {
        width: 64%;
        font-size: 21px;
        font-size: 2.1rem;
        line-height: 24px;
        line-height: 2.4rem; } }
    @media (mdmin: 0) {
      #company-support-portal #documentation .prod-core span {
        width: 64%;
        font-size: 21px;
        font-size: 2.1rem;
        line-height: 24px;
        line-height: 2.4rem; } }
  #company-support-portal #documentation .prod-plugins a.button {
    min-height: 95px;
    width: 95px;
    float: left;
    margin: 0 5px 5px 0; }
    #company-support-portal #documentation .prod-plugins a.button img {
      display: block;
      margin: 0 auto;
      padding: 6px 0 0 0;
      width: 48px; }
    #company-support-portal #documentation .prod-plugins a.button span {
      display: block;
      padding: 2px 0 0 0;
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 16px;
      line-height: 1.6rem;
      letter-spacing: -.25px; }

#company-support-portal #resources {
  margin-top: 24px;
  margin-bottom: 48px; }

#company-support-portal #page-index.container {
  margin-top: 0; }

#company-support-portal #page-index h3 {
  font-size: 28px; }
  #company-support-portal #page-index h3 .ss-icon {
    color: rgba(118, 2, 9, 0.8);
    font-size: 21px;
    padding-top: 4px;
    margin-right: 12px; }

#company-support-portal #page-index hr {
  margin-top: 36px;
  margin-bottom: 36px; }

#company-support-portal #page-index .section:before {
  content: "";
  display: block;
  height: 74px;
  margin: -74px 0 0; }

#company-support-portal #page-index a.button {
  width: auto;
  display: block;
  text-align: center; }

body {
  position: relative; }

.container-fluid {
  max-width: 1300px; }

#company-support-portal #header-wrapper {
  background: #c00; }
  #company-support-portal #header-wrapper #site-nav {
    padding-top: 30px;
    color: #F0F0F0;
    font-family: "myriad-pro-1","myriad-pro-2", "Hevetica Neue", Arial, sans-serif;
    font-weight: 400;
    color: #fff; }
    #company-support-portal #header-wrapper #site-nav #balsamiq-logo {
      font-size: 21px;
      font-size: 2.1rem;
      line-height: 21px;
      line-height: 2.1rem; }
      #company-support-portal #header-wrapper #site-nav #balsamiq-logo .trademark {
        font-size: 10px;
        font-size: 1rem;
        line-height: 10px;
        line-height: 1rem; }
    #company-support-portal #header-wrapper #site-nav #site-id {
      font-size: 21px;
      font-size: 2.1rem;
      line-height: 21px;
      line-height: 2.1rem; }
    #company-support-portal #header-wrapper #site-nav a {
      color: #fff; }
  #company-support-portal #header-wrapper #search #s {
    width: 125px; }
  #company-support-portal #header-wrapper #header #rmenu {
    position: absolute;
    top: 30px;
    right: 15px;
    margin: 0;
    padding: 0; }

#company-support-portal #body-wrapper {
  margin-bottom: 0 !important;
  padding-bottom: 166px; }

#company-support-portal #body-header {
  width: 100%;
  border-top: 1px solid #e5e5e5 !important;
  z-index: 1000;
  font-size: 12px; }
  #company-support-portal #body-header #title-wrapper {
    background-color: #fff;
    margin: 0 auto; }
  #company-support-portal #body-header ul.lnav {
    padding: 12px 0; }
    #company-support-portal #body-header ul.lnav > li > a:link, #company-support-portal #body-header ul.lnav > li > a:visited {
      color: #999; }
    #company-support-portal #body-header ul.lnav > li > ul li a {
      text-shadow: none !important; }
  #company-support-portal #body-header .navsect {
    opacity: 0;
    width: 0; }
    #company-support-portal #body-header .navsect a {
      display: none;
      color: #c00 !important;
      font-weight: bold;
      padding-right: 1em;
      border-right: 1px solid #ddd; }

#company-support-portal #breadcrumbs {
  margin: -1em 0 18px 0;
  padding: 5px 0;
  color: #999;
  font-size: 12px !important;
  text-transform: capitalize;
  border-bottom: 1px solid #ddd;
  list-style-type: none; }
  #company-support-portal #breadcrumbs a {
    color: #999;
    font-size: 12px !important; }
  #company-support-portal #breadcrumbs li {
    list-style-type: none;
    display: inline; }

#company-support-portal #body-main {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-image: none; }

#company-support-portal .local-nav {
  background: #fff;
  border: none; }
  #company-support-portal .local-nav #sidebar-box {
    padding-top: 31px;
    padding-bottom: 36px; }
    #company-support-portal .local-nav #sidebar-box.affix-top {
      position: relative; }
    #company-support-portal .local-nav #sidebar-box.affix {
      padding-top: 0;
      position: fixed;
      top: 0; }
  #company-support-portal .local-nav h3, #company-support-portal .local-nav h4, #company-support-portal .local-nav h5 {
    margin: 10px 0 10px 0;
    padding: 0;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 18px;
    line-height: 1.8rem;
    font-family: "myriad-pro-1","myriad-pro-2", "Hevetica Neue", Arial, sans-serif;
    font-weight: normal;
    color: #292E31; }
    #company-support-portal .local-nav h3 a, #company-support-portal .local-nav h4 a, #company-support-portal .local-nav h5 a {
      color: #292E31; }
  #company-support-portal .local-nav h5 {
    margin-left: 16px; }
  #company-support-portal .local-nav button, #company-support-portal .local-nav a.button {
    max-width: 180px; }
  #company-support-portal .local-nav a.menu-toggle {
    text-decoration: none;
    margin-left: -15px; }
  #company-support-portal .local-nav i {
    margin-top: 2px;
    cursor: pointer;
    color: #999 !important; }
    #company-support-portal .local-nav i.ss-icon {
      font-size: 10px;
      font-size: 1rem;
      line-height: 10px;
      line-height: 1rem; }
  #company-support-portal .local-nav.local-nav-1 {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 16px;
    line-height: 1.6rem; }
  #company-support-portal .local-nav.local-nav-2 {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 15px;
    line-height: 1.5rem; }
  #company-support-portal .local-nav ul {
    margin-top: 0;
    margin-left: 16px;
    padding-left: 0;
    list-style-type: none; }
    #company-support-portal .local-nav ul li {
      margin: 0;
      padding: 0;
      line-height: 16px; }
      #company-support-portal .local-nav ul li a {
        display: block;
        padding: 6px 0; }
      #company-support-portal .local-nav ul li.active a {
        color: #555;
        font-weight: bold; }
      #company-support-portal .local-nav ul li:hover,
      #company-support-portal .local-nav ul li.active,
      #company-support-portal .local-nav ul li.active:hover,
      #company-support-portal .local-nav ul li a,
      #company-support-portal .local-nav ul li a:hover,
      #company-support-portal .local-nav ul li a:focus {
        background: none !important; }
  #company-support-portal .local-nav .collapsing {
    -webkit-transition: all 0.04s ease;
    transition: all 0.04s ease; }

#company-support-portal .doc-overview ul {
  padding-bottom: 12px;
  padding-top: 12px; }
  #company-support-portal .doc-overview ul#list {
    -webkit-column-width: 370px;
       -moz-column-width: 370px;
            column-width: 370px; }
    #company-support-portal .doc-overview ul#list li .ss-icon {
      color: #666; }
  #company-support-portal .doc-overview ul.faq-list {
    -webkit-column-width: 590px;
       -moz-column-width: 590px;
            column-width: 590px; }
  #company-support-portal .doc-overview ul.faq-list li, #company-support-portal .doc-overview ul#list li {
    line-height: 24px;
    padding-bottom: 18px; }

#company-support-portal #body-main {
  /* image alignment in articles */ }
  #company-support-portal #body-main .support-body {
    background: #fff; }
  #company-support-portal #body-main h1 {
    margin-top: 36px;
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 36px;
    line-height: 3.6rem;
    font-weight: normal;
    color: #292E31; }
  #company-support-portal #body-main h2, #company-support-portal #body-main h3, #company-support-portal #body-main h4, #company-support-portal #body-main h5, #company-support-portal #body-main h6 {
    color: #292E31; }
  #company-support-portal #body-main h2 {
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 28px;
    line-height: 2.8rem;
    font-weight: normal; }
  #company-support-portal #body-main h3 {
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 21px;
    line-height: 2.1rem; }
  #company-support-portal #body-main h4 {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 18px;
    line-height: 1.8rem; }
  #company-support-portal #body-main h5 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 16px;
    line-height: 1.6rem; }
  #company-support-portal #body-main img {
    max-width: 100%; }
  #company-support-portal #body-main a, #company-support-portal #body-main .local-nav a {
    color: #0064AE; }
  #company-support-portal #body-main a.fb img,
  #company-support-portal #body-main img {
    margin-bottom: 12px; }
  #company-support-portal #body-main object,
  #company-support-portal #body-main iframe {
    margin-bottom: 12px; }
  #company-support-portal #body-main #page-topic ul li {
    margin-bottom: 1em; }
  #company-support-portal #body-main #page-article .content.article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100%; }
  #company-support-portal #body-main #page-article .content.article .imgleft img,
  #company-support-portal #body-main #page-article .content.article img.imgleft {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    max-width: 100%; }
  #company-support-portal #body-main .section-pager {
    margin-top: 2em; }
    #company-support-portal #body-main .section-pager .section-next {
      text-align: right; }

#company-support-portal ul.tags.listing {
  -webkit-column-width: 370px;
     -moz-column-width: 370px;
          column-width: 370px; }
  #company-support-portal ul.tags.listing > li {
    margin: 0 9px 9px 0;
    display: inline-block;
    width: 100%;
    float: none;
    background: #eee; }
    #company-support-portal ul.tags.listing > li a {
      display: block; }
    #company-support-portal ul.tags.listing > li .tag-count {
      display: inline-block;
      float: right;
      color: #bbb; }
  #company-support-portal ul.tags.listing > li:first-child {
    display: none; }

#company-support-portal .tag-box {
  text-align: center; }

#company-support-portal ul.tags {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden; }
  #company-support-portal ul.tags > li {
    display: block;
    float: left; }
    #company-support-portal ul.tags > li:last-child {
      margin-right: 0px; }
  #company-support-portal ul.tags > li {
    color: #999 !important;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 14px;
    line-height: 1.4rem;
    margin-left: 0;
    margin-right: 3px;
    border: 1px solid #bbb;
    border-radius: 15px; }
    #company-support-portal ul.tags > li a {
      display: inline-block;
      padding: 5px 10px;
      color: #999 !important;
      text-decoration: none; }
    #company-support-portal ul.tags > li:hover {
      background: #bbb; }
      #company-support-portal ul.tags > li:hover a {
        text-decoration: none;
        color: #fff !important; }
        #company-support-portal ul.tags > li:hover a span {
          color: #fff !important; }

#company-support-portal #footer-wrapper {
  background: #fff; }
  #company-support-portal #footer-wrapper .main {
    padding-top: 12px; }
  #company-support-portal #footer-wrapper ul li:first-child {
    margin-left: 0; }

#company-support-portal .form-group .form-control {
  max-width: 100%;
  box-sizing: border-box; }

#company-support-portal .dropdown-menu::before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: ''; }

#company-support-portal .dropdown-menu::after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  content: ''; }

#company-support-portal ul {
  padding-left: 0;
  list-style-type: circle; }
  #company-support-portal ul li {
    margin-left: 1.25em; }

#company-support-portal .uppercase {
  text-transform: uppercase; }

#company-support-portal .bold {
  font-weight: bold; }

#company-support-portal .red {
  color: #c00 !important; }

body#company-support-portal #design-select {
  position: absolute;
  top: 0;
  right: 18px;
  height: 18px;
  width: 120px;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px;
  line-height: 1.8rem;
  border-radius: 0 0 5px 5px;
  color: #fff; }
  body#company-support-portal #design-select a {
    color: #fff;
    font-weight: bold;
    cursor: pointer; }

body#company-support-portal.design-2 {
  border-top: 3px solid #c00; }
  body#company-support-portal.design-2 #header-wrapper {
    background: #fff;
    border-bottom: 1px solid #ddd; }
    body#company-support-portal.design-2 #header-wrapper #site-nav a {
      color: #c00 !important; }
    body#company-support-portal.design-2 #header-wrapper a {
      color: #c00 !important; }
    body#company-support-portal.design-2 #header-wrapper #header #gnav a.gnava {
      text-shadow: none; }
      body#company-support-portal.design-2 #header-wrapper #header #gnav a.gnava:hover {
        background: rgba(0, 0, 0, 0.05); }
    body#company-support-portal.design-2 #header-wrapper #header #gnav #gnav-download {
      border-left: 1px solid #ddd;
      margin-left: 3px;
      padding-left: 3px; }
    body#company-support-portal.design-2 #header-wrapper #search .search #s, body#company-support-portal.design-2 #header-wrapper #search .search #ss {
      border: 1px solid #ddd; }
    body#company-support-portal.design-2 #header-wrapper #search .search #ss {
      border-left: none; }

body#company-support-portal.design-3 {
  border-top: 3px solid #c00; }
  body#company-support-portal.design-3 #header-wrapper {
    background: #F0F0F0;
    border-bottom: 1px solid #eee; }
    body#company-support-portal.design-3 #header-wrapper a {
      color: #c00 !important; }
    body#company-support-portal.design-3 #header-wrapper #header #gnav a.gnava {
      text-shadow: none; }
      body#company-support-portal.design-3 #header-wrapper #header #gnav a.gnava:hover {
        background: rgba(0, 0, 0, 0.05); }
    body#company-support-portal.design-3 #header-wrapper #search .search #s, body#company-support-portal.design-3 #header-wrapper #search .search #ss {
      border: 1px solid #ddd; }
    body#company-support-portal.design-3 #header-wrapper #search .search #ss {
      border-left: none; }
