ul.tags {
  text-align: left;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  -ms-column-gap: 15px;
  -o-column-gap: 15px;
  column-gap: 15px;
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3; }
  ul.tags > li {
    font-size: 16px;
    color: #999;
    margin: 0 5px 5px 0;
    display: inline-block;
    width: 100%;
    float: none; }
  ul.tags > li:first-child {
    display: none; }
