{{ partial "head.html" . }}
<body class="layout-reverse">


<div class="content container">
    <div class="breadcrumbs"><a href="/">Home</a> &gt; <a href="../">{{ .Section }}</a> &gt; {{ .Title }}</div>
    <div class="post">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </div>
    <hr/>
    <div class="prevnext"><a href="{{ (.Site.Pages.ByWeight.Prev .).Permalink }}">&lt; {{ (.Site.Pages.ByWeight.Prev .).Title }}</a> -
        <a href="{{ (.Site.Pages.ByWeight.Next .).Permalink }}">{{ (.Site.Pages.ByWeight.Next .).Title }} &gt;</a></div>
</div>

</body>
</html>
