{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div class="container-fluid">
{{/* ======================================== */}}

<div class="row row-flex row-flex-wrap">

  <div class="col-xs-2 local-nav local-nav-1">
    <div class="flex-col">
    {{ if eq .Section "desktop" }}
      {{ partial "sidebar_left_desktop.html" . }}
    {{ else if eq .Section "mybalsamiq" }}
      {{ partial "sidebar_left_mybalsamiq.html" . }}
    {{ else if eq .Section "google-drive" }}
      {{ partial "sidebar_left_googledrive.html" . }}
    {{ else if eq .Section "jira" }}
      {{ partial "sidebar_left_jira.html" . }}
    {{ else if eq .Section "confluence" }}
      {{ partial "sidebar_left_confluence.html" . }}
    {{ else }}
      <!-- sidebar -->
    {{ end }}
    </div>
  </div>

  <div id="page-article" class="col-xs-12 col-sm-8">
    <div id="support-main">
      <div class="support-body">
        <article>
          <h1 class="title">{{ .Title }}</h1>
          <div class="article-content content article">
            {{ .Content }}
          </div>
        </article>
      </div>
    </div>
  </div><!-- /.support-main -->

  <div class="hidden-xs col-sm-2 local-nav local-nav-2">
    {{ partial "sidebar_right.html" . }}
  </div>

</div> <!-- /.row -->

{{/* ======================================== */}}
  </div>
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
