{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div class="container-fluid">
{{/* ======================================== */}}

<div class="row row-flex row-flex-wrap">

  <div class="local-nav local-nav-1 col-xs-2">
    <div class="sidebar-box flex-col" data-spy="affix" data-offset-top="117" data-offset-top="0">
    {{ if eq .Section "desktop" }}
      {{ partial "sidebar_desktop.html" . }}
    {{ else if eq .Section "mybalsamiq" }}
      {{ partial "sidebar_mybalsamiq.html" . }}
    {{ else if eq .Section "google-drive" }}
      {{ partial "sidebar_googledrive.html" . }}
    {{ else if eq .Section "jira" }}
      {{ partial "sidebar_jira.html" . }}
    {{ else if eq .Section "confluence" }}
      {{ partial "sidebar_confluence.html" . }}
    {{ else }}
      <!-- sidebar -->
    {{ end }}
    {{ partial "sidebar_inpage.html" . }}
    </div>
  </div>

  <div id="page-article" class="col-xs-12 col-sm-8">
    <div id="support-main">
      <div class="support-body">
        <article>
          <h1 class="title">{{ .Title }}</h1>
          <div class="article-content content article">
            {{ .Content }}
          </div>
        </article>
      </div>
    </div>
  </div><!-- /.support-main -->

</div> <!-- /.row -->

{{/* ======================================== */}}
  </div>
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
