<hr>
<h2>Frequently Asked Questions</h2>

<ul class="faq-list">
	<li><a href="https://support.balsamiq.com/desktop/troubleshooting/">Mockups for Desktop Troubleshooting Guide</a></li>
	<li><a href="https://support.balsamiq.com/desktop/clouddrive/">Can I Use Balsamiq Mockups 3 for Desktop with Dropbox / Box.com / OneDrive / iCloud Drive?</a></li>
	<li><a href="https://support.balsamiq.com/desktop/autosave/">Does Mockups automatically save open files?</a></li>
	<li><a href="https://support.balsamiq.com/desktop/sharing/">Is there a Mockups viewer to share my prototypes with my clients?</a></li>
	<li><a href="https://support.balsamiq.com/desktop/exportnotes/">Can I export mockup notes?</a></li>
	<li><a href="https://support.balsamiq.com/desktop/exporttocode/">Can Mockups export to HTML/CSS/JS, XAML, Ruby, etc?</a></li>
	<li><a href="https://support.balsamiq.com/desktop/accountassets/">Can I use Symbols and Assets across Projects?</a></li>
	<li><a href="https://support.balsamiq.com/desktop/customcontrols/">Can I add a custom control or icon?</a></li>
	<li><a href="https://support.balsamiq.com/desktop/symbols/">Can I reuse common elements across mockups?</a></li>
	<li><a href="https://support.balsamiq.com/desktop/wireframeskin/">Is there a more formal skin for Mockups?</a></li>
	<li><a href="https://support.balsamiq.com/desktop/smallscreen/">I'm on a small screen. How can I see more of the canvas?</a></li>
	<li><a href="https://support.balsamiq.com/desktop/sharepoint/">Can I save Mockups files on a Microsoft Sharepoint Server?</a></li>
	<li><a href="https://support.balsamiq.com/desktop/customproperties/">What are Custom Properties?</a></li>
	<li><a href="https://support.balsamiq.com/desktop/commandline/">Can I Install Mockups from the Command Line?</a></li>
	<li><a href="https://support.balsamiq.com/desktop/canvassize/">What's the maximum canvas size for a Mockup?</a></li>
	<li><a href="https://support.balsamiq.com/desktop/localstore/">Finding Your Local Data Storage Folder</a></li>
	<li><a href="https://support.balsamiq.com/sales/desktop/">Mockups for Desktop Purchasing FAQs</a></li>
</ul>
