<!DOCTYPE html>
{{ $baseUrl := .Site.BaseUrl }}
{{ $isHomePage := eq .Title .Site.Title }}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
  <meta name="google-site-verification" content="6X9l9L4v9PC9rvtxS_wwUkvIWz-bDDo94IW_EQLhCCc" />

  <link rel="stylesheet" href="//balsamiq.com/assets/css/balsamiq.css?v=2015050506" type="text/css" media="all">
  <link rel="stylesheet" href="//balsamiq.com/assets/css/support.css?v=2015050506" type="text/css" media="all">
  <link rel="stylesheet" href="//balsamiq.com/assets/js/fancybox/jquery.fancybox.css" type="text/css" media="all" />
  <link rel="stylesheet" href="//balsamiq.com/assets/fonts/ss-social-regular.css">
  <link rel="stylesheet" href="//balsamiq.com/assets/fonts/ss-social-circle.css">
  <link rel="stylesheet" href="//balsamiq.com/assets/fonts/ss-standard.css">
      <link rel="stylesheet" href="{{ $baseUrl }}/css/leon.css">
  <link rel="icon" type="image/x-icon" href="//balsamiq.com/assets/favicon/favicon.ico">
  <link rel="icon" type="image/png" href="//balsamiq.com/assets/favicon/favicon-16x16.png">
  <link rel="apple-touch-icon-precomposed" sizes="114×114" href="//balsamiq.com/assets/favicon/apple-touch-icon-114×114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72×72" href="//balsamiq.com/assets/favicon/apple-touch-icon-72×72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="//balsamiq.com/assets/favicon/touch-icon-iphone-precomposed.png">

  <script type="text/javascript" src="//balsamiq.com/assets/js/fancybox/jquery.fancybox.pack.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>jQuery.noConflict();</script>
  <script type="text/javascript" src="//balsamiq.com/assets/js/modernizr.js"></script>
  <script type="text/javascript" src="//balsamiq.com/assets/js/bootstrap.min.js"></script>
  <script src="//balsamiq.com/assets/js/balsamiq.js"></script>
  <script src="//media.balsamiq.com/js/jquery.smooth-scroll.min.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/gri5zun.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" href="/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">
  <title>{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
</head>

<body id='company-support-portal'>

{{ partial "_tpl_header_nav.inc" . }}

<!-- ======================================== -->
<!-- BODY MAIN -->
<div id="body-main">
  <div class="container">
