<!-- PAGE WRAPPER -->
<div id="page-wrapper">
  <!-- HEADER -->
  <header id="header-wrapper">
    <nav class="navbar">
    <div id="header" class="container-fluid">
      <div class="row">
        <!-- LOGO -->
        <div class="col-xs-12">
          <div id="site-nav" class="navbar-header">
            <button id="rmenu" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="http://balsamiq.com" id="balsamiq-logo">balsamiq<sup class="trademark">&reg;</sup></a>
            &nbsp; / &nbsp;
            <a href="/" id="site-id">Documentation</a>
          </div>
          <!-- GNAV -->
          <div class="collapse navbar-collapse" id="gnav">
            <ul class="menubar gnav nav navbar">
              <li id="gnav-desktop">
                <a href="{{ .Site.BaseUrl }}/desktop/" class="gnava">Desktop</a>
              </li>
              <li id="gnav-mybalsamiq">
                <a href="{{ .Site.BaseUrl }}/mybalsamiq/" class="gnava">myBalsamiq</a>
              </li>
              <li id="gnav-plugins">
                <a href="#" class="gnava dropdown" class="dropdown-toggle" id="dDocs" data-toggle="dropdown" data-target="#">Plugins <i class="ss-icon" style="font-size:7px">&#xF501;</i></a>
                <ul class="dropdown-menu nav" aria-labelledby="dDocs">
                  <li><a href="{{ .Site.BaseUrl }}/google-drive/user-guide/">Mockups for Google Drive</a></li>
                  <li><a href="{{ .Site.BaseUrl }}/confluence/user-guide/">Mockups for Confluence</a></li>
                  <li><a href="{{ .Site.BaseUrl }}/jira/user-guide/">Mockups for JIRA</a></li>
                </ul>
              </li>
              <li id="gnav-support">
                <a href="http://support.balsamiq.com" class="gnava">Support</a>
              </li>
              <li id="gnav-download">
                <a href="https://balsamiq.com/download/" class="gnava">Download</a>
              </li>
              <li id="gnav-buy">
                <a href="https://balsamiq.com/buy/" class="gnava">Buy</a>
              </li>
              <li id="gnav-search" class="visible-xs visible-sm">
                <a href="{{ .Site.BaseUrl }}" class="gnava"><i class="ss-icon">&#x1F50E;</i></a>
              </li>
              <li id="gnav-search-form" class="hidden-xs hidden-sm last">
                <!-- SEARCH -->
                <div id="search">

                  <script type="text/javascript">
                    (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
                              (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
                      e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
                    })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

                    _st('install','HHLwTCWGqfGPBEG1xKZW','2.0.0');
                  </script>

                  <form class="search">
                    <input id="s" accesskey="s" type="text" value="Search Docs..." name="q" tabindex="1" class="st-default-search-input"/>
                    <input id="ss" type="submit" value="Search" tabindex="2" />
                  </form>
                  <!-- /SEARCH -->
                </div>
              </li>
            </ul>
          </div>
          <!-- /#GNAV -->
        </div><!-- /.col -->
      </div><!--/ .row -->
    </div><!-- /#header -->
    </nav>
  </header><!-- /#header-wrapper -->
  <!-- /HEADER -->

  <!-- BODY -->
  <div id="body-wrapper">
