<hr>
<h2>Frequently Asked Questions</h2>

<ul class="faq-list">
	<li><a href="https://support.balsamiq.com/sales/mybsubscriptions/">Managing your myBalsamiq subscription</a></li>
	<li><a href="https://support.balsamiq.com/mybalsamiq/mybanddesktop/">myBalsamiq and Mockups for Desktop</a></li>
	<li><a href="https://support.balsamiq.com/mybalsamiq/mybandb3/">Using Balsamiq Mockups 3 and myBalsamiq Together</a></li>
	<li><a href="https://support.balsamiq.com/mybalsamiq/mybandatlassian/">Can I use myBalsamiq with Atlassian JIRA or Confluence?</a></li>
	<li><a href="https://support.balsamiq.com/mybalsamiq/grouping/">Best Practices for Grouping Mockups</a></li>
	<li><a href="https://support.balsamiq.com/mybalsamiq/classroom/">Using myBalsamiq in Your Classroom</a></li>
	<li><a href="https://support.balsamiq.com/mybalsamiq/confirmationemail/">I did not receive the myBalsamiq confirmation email</a></li>
	<li><a href="https://support.balsamiq.com/mybalsamiq/siteowner/">Site Owner FAQs</a></li>
	<li><a href="https://support.balsamiq.com/mybalsamiq/readonly/">Can I Make My Project Read Only for Project Members?</a></li>
	<li><a href="https://support.balsamiq.com/mybalsamiq/firewall/">Can I run myBalsamiq on a server inside my firewall?</a></li>
	<li><a href="https://support.balsamiq.com/mybalsamiq/siteownerleft/">Our myBalsamiq site owner left the company. How can I reclaim our company's site?</a></li>
	<li><a href="https://support.balsamiq.com/mybalsamiq/flashcookies/">Clearing your Flash Cookies</a></li>
	<li><a href="https://support.balsamiq.com/mybalsamiq/flashstoragesettings/">The myBalsamiq editor keeps asking me about storage settings. How do I stop the alert from appearing?</a></li>
	<li><a href="https://support.balsamiq.com/mybalsamiq/secure/">Are myBalsamiq sites secure?</a></li>
	<li><a href="https://support.balsamiq.com/mybalsamiq/rememberme/">myBalsamiq doesn't remember me</a></li>
	<li><a href="https://support.balsamiq.com/sales/mybalsamiq/">myBalsamiq Purchasing FAQs</a></li>
</ul>