<!-- BODY HEADER -->
<div id="nav">
<div id="body-header">
  <div id="title-wrapper">
   <!-- NAV -->
  <nav class="container mt0">
    <h2>Support</h2>
    <ul class="lnav menubar clearfix">
      <li><a href="/">Overview</a></li>
      <li><a href="/#support-ask">Search</a></li>
      <li><a href="http://support.balsamiq.com/#support-faqs">FAQs</a></li>
      <li><a href="http://support.balsamiq.com/customer/portal/articles/1335124">Tutorials</a></li>
      <li class="dropdown">
        <a href="http://support.balsamiq.com/#support-documentation" class="dropdown-toggle" id="dDocs" data-toggle="dropdown" data-target="#">Documentation <i class="ss-icon" style="font-size:7px">&#xF501;</i></a>
        <ul class="dropdown-menu nav" aria-labelledby="dDocs">
          <li><a href="http://support.balsamiq.com/customer/portal/articles/127377">Mockups for Desktop</a></li>
          <li><a href="http://support.balsamiq.com/customer/portal/articles/127531">myBalsamiq</a></li>
          <li><a href="http://support.balsamiq.com/customer/portal/articles/113837">Mockups for Confluence</a></li>
          <li><a href="http://support.balsamiq.com/customer/portal/articles/113842">Mockups for JIRA</a></li>
          <li><a href="http://support.balsamiq.com/customer/portal/articles/1559682">Mockups for Google Drive</a></li>
        </ul>
      </li>
      <li><a href="http://support.balsamiq.com/customer/portal/topics/147848">Resources</a></li>
      <li><a href="http://forums.balsamiq.com">Forums</a></li>
      <li><a href="http://balsamiq.com/company/#contact">Contact Us</a></li>
    </ul>
  </nav>
  <!-- /NAV -->
  </div><!-- /#title-wrapper -->
</div>
</div>
<!-- /BODY HEADER -->
