<style type="text/css">

.home a.btn-lg {
  border: 1px solid #C00;
  border-radius: 3px;
  padding: 1em .5em;
/*   margin-bottom: 2em; */
margin-bottom: 5px;
}

a.btn-lg.featured {
  background-color: #FCC;
}

.home a.btn-lg:hover {
  background-color: #C00;
  color: #FFF;
  text-decoration: none;
  }
  
.home a.btn-lg {
  text-decoration: none;
  }

.home a:hover {
  text-decoration: none;
}  

  
#company-support-portal .doc-main ul {
/*
    margin-top: 0;
    margin-left: 16px;
*/
    padding-left: 5px;
    list-style: circle inside;
    padding-bottom: 12px;
    padding-top: 12px;  
    }

ul#list li .ss-icon {
  color: #888;
}

#body-main ul.faq-list li, ul#list li {
  line-height: 24px;
  padding-bottom: 18px;
}

ul#list {
   -webkit-column-width: 370px;
   -moz-column-width: 370px;
   column-width: 370px;
}

ul.faq-list {
   -webkit-column-width: 590px;
   -moz-column-width: 590px;
   column-width: 590px;
}

/*
p strong {
  color: #C00;
}
*/

#body-main h3 {
  color: #292E31;
  font-size: 24px;
  margin-top: 0;
}

#body-main.home h2 {
  margin-bottom: 1em;
}

#body-main.home .panel-default {
  background-color: #f5f5f5;
  border-radius: 3px;
}



</style>
  