<!-- PAGE WRAPPER -->
<div id="page-wrapper">
  <!-- HEADER -->
  <header id="header-wrapper">
    <nav class="navbar">
    <div id="header" class="container">
      <div class="row">
        <!-- LOGO -->
        <div class="col-xs-12">
          <div class="navbar-header">
           <button id="rmenu" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1><a href="/">Balsamiq</a></h1>
        </div>
        <!-- GNAV -->
        <div class="collapse navbar-collapse" id="gnav">
          <ul class="menubar gnav nav navbar">
            <li id="gnav-home" class="visible-xs">
              <a href="/" class="gnava">Home</a>
            </li>
            <li id="gnav-products">
              <a href="/products/mockups/" class="gnava">Products</a>
            </li>
            <li id="gnav-company">
              <a href="/company/" class="gnava">Company</a>
            </li>
            <li id="gnav-support">
              <a href="http://support.balsamiq.com/" class="gnava">Support</a>
            </li>
            <li id="gnav-blogs">
              <a href="/blogs/" class="gnava">Blogs</a>
            </li>
            <li id="gnav-download">
              <a href="/download/" class="gnava">Download</a>
            </li>
            <li id="gnav-buy">
              <a href="/buy/" class="gnava">Buy</a>
            </li>
            <li id="gnav-login" class="dropdown hidden-xs">
              <a id="loginButton" class="gnava dropdown-toggle" href="#" data-toggle="dropdown"><span>Log In</span></a>
              <!-- LOGIN -->
              <div id="loginBox" class="dropdown-menu t14">
                <form id="loginForm">
                  <fieldset id="body"> <strong class="mt1 mb1">Log In to myBalsamiq</strong>
                    <hr>
                    <fieldset class="mb1-5">
                      <p>Already have a monthly subscription for our cloud-based web app?</p>
                      <p class="mt1 mb1">
                        <a href="https://www.mybalsamiq.com/login" class="button submit">Log In to myBalsamiq</a>
                      </p>
                    </fieldset>
                    <hr>
                    <div class="m0">
                      <p>Lost your Mockups key?</p>
                      <p class="mt1 mb1">
                        <a href="/buy/lostkey/" class="button submit">Retrieve Your License</a>
                      </p>
                    </div>
                  </fieldset>
                </form>
              </div>
              <!-- /LOGIN -->
            </li>
            <li id="gnav-login" class="visible-xs"><a href="https://www.mybalsamiq.com/login" class="gnava">Log In to myBalsamiq</a></li>
            <li id="gnav-lostkey" class="visible-xs"><a href="/buy/lostkey/" class="gnava">Retrieve Lost License</a></li>
            <li id="gnav-search" class="visible-xs visible-sm">
              <a href="/search/" class="gnava"><i class="ss-icon">&#x1F50E;</i></a>
            </li>
            <li id="gnav-search-form" class="hidden-xs hidden-sm last">
              <!-- SEARCH -->
              <div id="search">
                <form action="/search/" class="search" method="get">
                  <input id="s" accesskey="s" type="text" value="Search..." name="q" tabindex="1" />
                  <input id="ss" type="submit" value="Search" tabindex="2" />
                </form>
                <!-- /SEARCH -->
              </div>
            </li>
          </ul>
        </div>
        <!-- /#GNAV -->

      </div><!--/ .row -->
    </div><!-- /#header -->
    </nav>
  </header><!-- /#header-wrapper -->
  <!-- /HEADER -->

  <!-- BODY -->
  <div id="body-wrapper">
