</div>
<!-- ======================================== -->
<!-- /BODY-WRAPPER -->

<!-- ======================================== -->
<!-- FOOTER -->
<footer>
<div id="footer-wrapper">
  <div class="container-fluid">
    <div class="row main">
      <div id="footermatter" class="col-xs-12 col-sm-10">
        <ul class="menubar">
          <li><i class="ss-icon">&#x1F4DE;</i>Sales Support: +1 (415) 367-3531</li>
          <li><a href="/company/#contact"><i class="ss-icon ss-social-regular">&#x2709;</i> Contact Us</a></li>
          <li><a href="http://twitter.com/balsamiq" target="_blank"> <i class="ss-icon ss-social-regular">&#xF611;</i>Twitter</a></li>
          <li><a href="http://www.facebook.com/BalsamiqMockups" target="_blank"><i class="ss-icon ss-social-regular">&#xF610;</i> Facebook</a></li>
        </ul>
      </div>
      <div id="addthis" class="col-xs-12 col-sm-2">
        <ul>
          <li><a href='http://twitter.com/home?status=Balsamiq%20http://balsamiq.com/'  data-width='500' data-height='300' class='pop' title='Share on Twitter'><i class='ss-icon ss-social-circle'>&#xF611;</i></a></li>
          <li><a href='http://www.facebook.com/share.php?u=http://balsamiq.com/&title=Balsamiq'  data-width='500' data-height='300' class='pop' title='Share on Facebook'><i class='ss-icon ss-social-circle'>&#xF610;</i></a></li>
          <li><a href='https://plus.google.com/share?url=http://balsamiq.com' data-width='500' data-height='300' class='pop'><i class='ss-icon ss-social-circle'>&#xF613;</i></a></li>
          <li><a href='http://www.linkedin.com/shareArticle?mini=true&url=http://balsamiq.com/&title=Balsamiq' data-width='500' data-height='300' class='pop' title='Share on LinkedIn'><i class='ss-icon ss-social-circle'>&#xF612;</i></a></li>
        </ul>
      </div>
    </div><!-- /.row -->
    <hr class="small">
    <div class="row info">
      <div class="col-xs-12 col-sm-10">
        <a href="/privacy/">Privacy Policy</a> &middot;
        <a href="/termsofuse/">Terms of Use</a> &middot; All trademarks &copy; their respective owners
        <br>&copy; 2008-<script>document.write(new Date().getFullYear())</script>
Balsamiq Studios, LLC &middot; Federal EIN 26-2200095
        (<a href="//media.balsamiq.com/files/BalsamiqW9.pdf">W9 Form</a>)
      </div>
      <div class="col-xs-12 col-sm-2">
        <a href="/" id="footer-logo">
          <img src="//media.balsamiq.com/images/balsamiq_logo_small_gray.png" alt="Balsamiq Logo" class="img-responsive">
        </a>
      </div>
    </div><!-- /.row -->

  </div><!-- / .container -->
</div><!-- / #footer-wrapper -->
</footer>
<!-- /FOOTER -->
<!-- ======================================== -->

</div>
<!-- /PAGE-WRAPPER -->
<!-- ======================================== -->

</body>
</html>
