{{/* MAIN PAGE TEMPLATE */}}
{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main" class="home">
{{/* ======================================== */}}

{{/* ======================================== */}}
{{/* 1. - SEARCH */}}
<div class="container-fluid bbot" id="home-search">
  <div class="row">

    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <h2 class="text-center">Balsamiq Mockups Documentation</h2>

      <script type="text/javascript">
        _st.additionalInputElements = ['#search_home'];
      </script>

      <form>
        <div class="form-group">
         <input class="st-default-search-input form-control" type="text" id="search_home" placeholder="Search our documentation and FAQs">
        </div>
      </form>
      <p><span><strong>Popular articles:</strong> <a href="#">Introduction to Balsamiq Mockups 3</a>, <a href="#">Balsamiq Mockups 3 Transition Guide</a>, <a href="#">Mockups Application Overview</a>, <a href="#">Working with Symbols</a></span></p>
    </div><!-- /.col -->

  </div><!-- /.row -->
</div><!-- /.container-fluid -->

{{/* ======================================== */}}
{{/* 2. - PRODUCT DOCUMENTATION */}}

<div class="container-fluid fluid-max documentation">
  <div class="row mb0">
    <div class="col-xs-12">

    </div>
  </div>

  <div class="row" id="documentation">
    <div class="col-xs-12">

      <div class="row mt2 prod-core">
        <div class="col-xs-12 col-sm-6">
          <a href="desktop/" class="btn btn-default btn-lg btn-block  featured"><!--<img src="https://media.balsamiq.com/images/ico-desktop.png">-->Mockups 3 for Desktop</a>
          <p class="text-center">Our original, stand-alone desktop version</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a href="mybalsamiq/" class="btn btn-default btn-lg btn-block  featured"><!--<img src="http://media.balsamiq.com/img/appicon/mybalsamiq-nobg.png">-->myBalsamiq (Our Web App)</a>
          <p class="text-center">Our hosted web-based version</p>
        </div>
      </div>

      <div class="row prod-plugins">
        <div class="col-xs-12 col-sm-4">
          <a href="google-drive/user-guide/" class="btn btn-default btn-lg btn-block"><!--<img src="http://media.balsamiq.com/img/appicon/gdrive-nobg.png">--><small>Mockups for</small> Google Drive</a>
          <p class="text-center">Our Mockups 3 app for <a href="https://www.google.com/drive/">Google Drive</a></p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="confluence/user-guide/" class="btn btn-default btn-lg btn-block"><!--<img src="http://media.balsamiq.com/img/appicon/confluence-nobg.png">--><small>Mockups for</small> Confluence</a>
          <p class="text-center">Our plugin version for <a href="https://www.atlassian.com/software/confluence">Atlassian Confluence</a></p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="jira/user-guide/" class="btn btn-default btn-lg btn-block"><!--<img src="http://media.balsamiq.com/img/appicon/jira-nobg.png">--><small>Mockups for</small> JIRA</a>
          <p class="text-center">Our plugin version for <a href="https://www.atlassian.com/software/jira">Atlassian JIRA</a></p>
        </div>
      </div>

      <hr>

    </div>
  </div><!-- /.row -->
</div><!-- /.container-fluid -->

{{/* ======================================== */}}
{{/* 3. - MORE RESOURCES */}}

<div class="container-fluid fluid-max">
  <div class="row" id="resources">

    <h2 class="text-center mb1-5">More Resources</h2>

    <div class="col-xs-12 col-sm-4">
      <a href="/" class="btn btn-default btn-lg btn-block"><i class="ss-icon">&#xE673;</i> Tutorials</a>
      <p class="text-center">Videos and step-by-step guides</p>
      </div>
    <div class="col-xs-12 col-sm-4">
      <a href="http://uxapprentice.com/" class="btn btn-default btn-lg btn-block"><i class="ss-icon">&#xF4C0;</i> UX Apprentice</a>
      <p class="text-center">Learn UX design basics</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="https://support.balsamiq.com" class="btn btn-default btn-lg btn-block"><i class="ss-icon">&#x2753;</i> Need Help?</a>
      <p class="text-center">Try our <strong><a href="https://support.balsamiq.com">Support site</a></strong> for answers about <a href="#">licensing and purchasing</a>, <a href="#">installation and updating</a>, and more.</p>
    </div>

  </div><!-- /.row -->
</div><!-- /.container-fluid -->

{{/* ======================================== */}}
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
