{{/* MAIN PAGE TEMPLATE */}}
{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div class="container">
{{/* ======================================== */}}

{{/* 1. SEARCH & CONTACT */}}
<div class="row">
  <div class="col-sm-12 col-md-8">
    Help Us Help You
  </div>
  <div class="col-sm-12 col-md-4">
    Contact
  </div>
</div>

<hr>

{{/* 2. */}}
<div class="row">
  <div class="col-sm-12 col-md-8">
    Product Documentation
    <ul>
      <li><a href="desktop/docs/">Mockups for Desktop</a></li>
      <li><a href="mybalsamiq/docs/">myBalsamiq</a></li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    Troubleshooting
  </div>
</div>

<hr>

{{/* */}}
<div class="row">
  <div class="col-xs-12">
    Resources and Community
  </div>
</div>

{{/* ======================================== */}}
  </div>
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
