{{ partial "header.html" . }}

{{/* ======================================== */}}
{{/* BODY MAIN */}}
<div id="body-main">
  <div class="container">
{{/* ======================================== */}}

This is the Mockups for Desktop Overview

<div class="row">

  {{ partial "sidebar_desktop.html" . }}

  <div class="col-sm-8 doc-main">
    <main role="main">
      <div class="doc-list-header">
        <h1>{{ .Title }}</h1>
      </div>
        <section>
          {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
            {{ if eq "categories" $taxonomyname }}
              {{ range $key, $value := $taxonomy }}
                <div>{{ $key }}</div>
                <ul>
                {{ range $value.Pages }}
                    {{ .Render "li"}}
                {{ end }}
                </ul>
              {{ end }}
            {{ end }}
          {{ end }}
        </section>
    </main>
  </div> <!-- /.doc-main -->

</div>{{/* /.row */}}

{{/* ======================================== */}}
  </div>
</div>
{{/* /BODY MAIN */}}
{{/* ======================================== */}}

{{ partial "footer.html" . }}
