// ========================================
// DBC - HOME CSS
// ========================================

// ========================================
// DBC BODY
// ========================================
#company-support-portal {
// ========================================

// ========================================
// HOME
#body-main.home {
  padding-top: 36px;
  h2 {
    margin-bottom: 1em;
  }
  .panel-default {
    background-color: $graylight;
    border-radius: 3px;
  }
  a.btn {
    text-decoration: none;
  }
  a.btn-lg {
    border: 1px solid #C00;
    border-radius: 3px;
    padding: 1em .5em;
    /*   margin-bottom: 2em; */
    margin-bottom: 5px;
    text-decoration: none;
    &.featured {
      background-color: #FCC;
    }
    &:hover {
      background-color: #C00;
      color: #FFF;
      text-decoration: none;
    }
  }
}


// ========================================
// DOCUMENTATION
#support-documentation {
  margin-bottom: 10px;
  a.button {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
  }
  .prod-core {
    a.button {
      @include breakpoint(mdmin) {
        min-height: 95px;
      }
      text-align: left;
      img, span {
        display: block;
        float: left;
      }
    }
    img {
      width: 20%;
      @include breakpoint(smmin) {
        width: 40%;
      }
      @include breakpoint(mdmin) {
        width: 33%;
      }
    }
    span {
      padding-top: 18px;
      @include fontsize(16,18);
      width: 78%;
      padding-left: 2%;
      letter-spacing: -.25px;
      @include breakpoint(smmin) {
        width: 58%;
      }
      @include breakpoint(mdmin) {
        width: 64%;
        @include fontsize(21,24);
      }
    }
  }
  .prod-plugins {
    a.button {
      min-height: 95px;
      width: 95px;
      float: left;
      margin: 0 5px 5px 0;
      img {
        display: block;
        margin: 0 auto;
        padding: 6px 0 0 0;
        width: 48px;
      }
      span {
        display: block;
        padding: 2px 0 0 0;
        @include fontsize(14,16);
        letter-spacing: -.25px;
      }
    }
  }
}

// ========================================
// ICONS
#page-index {
  &.container {
    margin-top: 0;
  }
  h3 {
    font-size: 28px;
    .ss-icon {
      color: rgba(118,2,9,.8);
      font-size: 21px;
      padding-top: 4px;
      margin-right: 12px;
    }
  }
  hr {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .section:before {
     content:"";
     display:block;
     height: 74px;
     margin: -74px 0 0;
  }
  a.button {
    width: auto;
    display: block;
    text-align: center;
  }
}

#support-search-contact.container {
  margin-top: 0;
}

// ========================================
// CONTACT
#support-contact {
  h4 {
    @include fontsize(24,24);
    color: $black;
    padding: 0 0 6px 0;
    text-align: center;
  }
  .inner {
    margin: 0;
    padding: 10px;
    background: #f5f5f5;
    border: 1px solid $gray;
    border-radius: 5px;
  }
  a.button {
    display: block;
    padding: 5px;
    @include fontsize(14,14);
    &#forum-link {
      width: 100%;
      margin: 0;
    }
    &#email-link {
      width: 100%;
      margin: 0;
    }
  }
}

#support-more-contact {
  font-size: 14px;
  .ss-icon {
    color: #0064AE;
    margin-right: 2px;
  }
}

// ========================================
// BIOS
#bios {
  #biopic {
    img {
      border: 1px solid $gray;
      box-shadow: 0px 1px 2px $gray;
    }
    p {
      margin: -20px 0 0 0;
      @include fontsize(12,16);
      text-align: center;
      color: #fff;
      text-shadow: rgba(0,0,0,.95) 0 1px 3px;
      text-transform: capitalize;
    }

  }
  #biotxt {
    h4 {
      margin: 0;
      padding: 0 0 2px 0;
      @include fontsize(18,18);
      text-align: left;
    }
    p {
      margin: 0;
      padding: 0;
      @include fontsize(13,18);
    }
  }
}

// ========================================
}
// END DBC BODY
// ========================================
