// ========================================
// DBC - HOME CSS
// ========================================

// ========================================
// DBC BODY
// ========================================
#company-support-portal {
// ========================================

// ========================================
// HOME
#body-main.home {
  h2 {
    margin-bottom: 1em;
    color: $red;
  }
  .panel-default {
    // background-color: $graylight;
    border-radius: 3px;
  }
  a.btn {
    text-decoration: none;
  }
  a.btn-lg {
    border: 1px solid $gray;
    // background: $graypale;
    border-radius: 3px;
    padding: 1em .5em;
    /*   margin-bottom: 2em; */
    margin-bottom: 5px;
    text-decoration: none;
    &:hover {
      background-color: $gray;
      border-color: $graymed;
      color: $linkcolor !important;
      text-shadow: none !important;
      text-decoration: none;
    }
    &.featured {
      background-color: $red;
      border: 2px solid $reddark;
      color: $white;
      &:hover {
        background-color: $reddark;
        border-color: $redverydark;
        color: $white !important;
        text-decoration: none;
      }
    }
  }
}

// ========================================
// SEARCH
#home-search {
  background: $graypale;
  input#search {
    border: 1px solid $graymed;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  #search {
    border: 2px solid $graylight;
    &:focus {
      border-color: $bluelight;
    }
  }
  p {
    margin-bottom: 2em;
  }
}

// ========================================
// DOCUMENTATION
#documentation {
  margin-top: 24px;
  a.button {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
  }
  .prod-core {
    a.button {
      @include breakpoint(mdmin) {
        min-height: 95px;
      }
      text-align: left;
      img, span {
        display: block;
        float: left;
      }
    }
    img {
      width: 20%;
      @include breakpoint(smmin) {
        width: 40%;
      }
      @include breakpoint(mdmin) {
        width: 33%;
      }
    }
    span {
      padding-top: 18px;
      @include fontsize(16,18);
      width: 78%;
      padding-left: 2%;
      letter-spacing: -.25px;
      @include breakpoint(smmin) {
        width: 58%;
      }
      @include breakpoint(mdmin) {
        width: 64%;
        @include fontsize(21,24);
      }
    }
  }
  .prod-plugins {
    a.button {
      min-height: 95px;
      width: 95px;
      float: left;
      margin: 0 5px 5px 0;
      img {
        display: block;
        margin: 0 auto;
        padding: 6px 0 0 0;
        width: 48px;
      }
      span {
        display: block;
        padding: 2px 0 0 0;
        @include fontsize(14,16);
        letter-spacing: -.25px;
      }
    }
  }
}

// ========================================
// RESOURCES
#resources {
  margin-top: 24px;
  margin-bottom: 48px;
}

// ========================================
// ICONS
#page-index {
  &.container {
    margin-top: 0;
  }
  h3 {
    font-size: 28px;
    .ss-icon {
      color: rgba(118,2,9,.8);
      font-size: 21px;
      padding-top: 4px;
      margin-right: 12px;
    }
  }
  hr {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .section:before {
     content:"";
     display:block;
     height: 74px;
     margin: -74px 0 0;
  }
  a.button {
    width: auto;
    display: block;
    text-align: center;
  }
}

// ========================================
}
// END DBC BODY
// ========================================
